<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LoggerWriter" value="ON" />
    <add key="DBConnectionString" value="Data Source = PRDPWCARX0001\\CARX01,51662; Database=CAR_Sandbox;Integrated Security = SSPI; Connection Timeout = 900" />
    <add key="ExcelPath" value="https://tmobileusa.sharepoint.com/teams/sales/RRP/Training/Ready! COR.xlsm" />
    <add key="TargetTable" value="[dbo].[ReadyCOR]" />
  </appSettings>
</configuration>